body {
    margin: auto;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(208, 232, 240);*/
}

.dropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
}

.dropDownButtons {
    display: flex;
}

.dropContent a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropContent a:visited {
    text-decoration: none;
}

.show {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 26, 34);
    align-items: center;
    /*max-height: 4rem;*/
}

.dropDownButtons button {
    border: none;
    height: 2.5rem;
    background-color: rgb(5, 31, 43);
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
}

.dropDownButtons button:focus {
    background-color: rgb(33, 37, 41);
    border: none;
}

/*.header button:hover {
    background-color: rgb(63, 61, 70);
}*/

.name {
    color: white;
    padding-left: 20px;
}

.college, .school, .winScp, .sap, .skillHtml,
.skillCss, .javaScript, .reactJs, .tafe, .srinsoft, .interest, .project, .skills {
    display: none;
}

.content {
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 2%;
    padding-right: 2%;
    /*background-color: rgb(106, 166, 168);*/
    /*background-color: azure;*/
    background-color: #8cabc5;
    margin-bottom: 200px;
    margin-top: 10px;
}

.footer {
    color: white;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0px;
    background-color: rgb(29, 4, 61);
    /*background-color: rgb(52, 52, 117);*/
}

.footer .footerHeading {
    font-weight: bold;
}

.watermark {
    width: 100%;
    height: 86%;
    z-index: 0;
    opacity: 0.4;
    position: absolute;
}

/*@media only screen and (max-width: 680px) {
    .header {
        max-height: 6rem
    }
}

@media screen and (max-width: 550px) {
    .header, .dropDownButtons {
        max-height: 12.5rem;
    }

    .dropDownButtons {
        flex-direction: column;
    }
    .watermark {
        height: 71%;
    }

}*/